node-red/control.json
[
    {
        "id": "dbc89c3e1ce4f450",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "b060a1f3badcc99a",
        "type": "mqtt out",
        "z": "befc761f47b29d08",
        "name": "",
        "topic": "device1/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "622cbbe03050168a",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "5ab8ef23312cfbbe",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "6e817a33a55e12bd",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "DOWN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "up",
        "payloadType": "str",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "d9b5762ef9e7c2d6",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "UP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "down",
        "payloadType": "str",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "35858665f1fce213",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "wave",
        "payloadType": "str",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "622cbbe03050168a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]