node-red/final.json
[
    {
        "id": "56f341593f1897a2",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World!",
        "payloadType": "str",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "bb382910b1e6a938"
            ]
        ]
    },
    {
        "id": "5cc711e2e57f9353",
        "type": "debug",
        "z": "befc761f47b29d08",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "0b6e268a430e60ae",
        "type": "mqtt in",
        "z": "befc761f47b29d08",
        "name": "",
        "topic": "device1/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "622cbbe03050168a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "5cc711e2e57f9353",
                "ba8635255c0705c7"
            ]
        ]
    },
    {
        "id": "bb382910b1e6a938",
        "type": "mqtt out",
        "z": "befc761f47b29d08",
        "name": "",
        "topic": "/bomboclat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "622cbbe03050168a",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "d6ca1520bc9731d5",
        "type": "comment",
        "z": "befc761f47b29d08",
        "name": "Let's use Hive MQ broker",
        "info": "",
        "x": 190,
        "y": 160,
        "wires": []
    },
    {
        "id": "10ab8fb988966613",
        "type": "comment",
        "z": "befc761f47b29d08",
        "name": "Let's use Hive MQ broker",
        "info": "",
        "x": 210,
        "y": 380,
        "wires": []
    },
    {
        "id": "dbc89c3e1ce4f450",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "b060a1f3badcc99a",
        "type": "mqtt out",
        "z": "befc761f47b29d08",
        "name": "",
        "topic": "device1/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "622cbbe03050168a",
        "x": 450,
        "y": 440,
        "wires": []
    },
    {
        "id": "5ab8ef23312cfbbe",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "6e817a33a55e12bd",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "DOWN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "up",
        "payloadType": "str",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "d9b5762ef9e7c2d6",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "UP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "down",
        "payloadType": "str",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "35858665f1fce213",
        "type": "inject",
        "z": "befc761f47b29d08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "wave",
        "payloadType": "str",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "ba8635255c0705c7",
        "type": "ui-chart",
        "z": "befc761f47b29d08",
        "group": "f2e17e3a2c0f71dd",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 350,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3bea861f7d36b19f",
        "type": "ui-button",
        "z": "befc761f47b29d08",
        "group": "e1faf0410884acb9",
        "name": "ON",
        "label": "ON",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "83adf7bff9ec0f1d",
        "type": "ui-button",
        "z": "befc761f47b29d08",
        "group": "e1faf0410884acb9",
        "name": "OFF",
        "label": "OFF",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "77b222bcfb2acb54",
        "type": "ui-button",
        "z": "befc761f47b29d08",
        "group": "e1faf0410884acb9",
        "name": "DOWN",
        "label": "DOWN",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "51c139c5a3858f44",
        "type": "ui-button",
        "z": "befc761f47b29d08",
        "group": "e1faf0410884acb9",
        "name": "UP",
        "label": "UP",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "b060a1f3badcc99a"
            ]
        ]
    },
    {
        "id": "622cbbe03050168a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f2e17e3a2c0f71dd",
        "type": "ui-group",
        "name": "Group 1",
        "page": "d5592868be9c4711",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "e1faf0410884acb9",
        "type": "ui-group",
        "name": "buttons",
        "page": "d5592868be9c4711",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d5592868be9c4711",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "f388e9577066d45c",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "f3e5411409b751e2",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f388e9577066d45c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "f3e5411409b751e2",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "928290161531eb6b",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]